<div style="width: min(550px, 90vw);">
  <h2 mat-dialog-title>Nuevo plato</h2>
  <mat-dialog-content>
    <div class="tab-content">
      <div style="display: flex; flex-direction: column; gap: 10px; margin: 10px 0">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="data.dish.name" />
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Descripción</mat-label>
          <input matInput [(ngModel)]="data.dish.description"/>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Precio base</mat-label>
          <span matTextPrefix>S/.&nbsp;</span>
          <input matInput type="number" min="0" [(ngModel)]="data.dish.basePrice" />
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
          <mat-label>Categoría</mat-label>
          <mat-select [(ngModel)]="data.dish.categoryId">
            @for (cat of data.categories; track cat.id) {
              <mat-option [value]="cat.id">{{ cat.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="saveInAllBranches">
          Crear este plato en todas las sedes
        </mat-checkbox>
      </div>
      <div style="display: flex; flex-direction: column; gap: 8px">
        <span style="font-weight: 600;">Foto del plato</span>
        <button matButton="filled" (click)="fileInput.click()">
          <mat-icon>upload</mat-icon>
          <span>Seleccionar imagen</span>
        </button>
        <input #fileInput type="file" accept="image/*" (change)="onImageSelected($event)" style="display: none;"/>
        <div style="width: 200px; height: 200px; border: 1px dashed #ccc; display: flex; align-items: center; justify-content: center;">
          @if (imagePreview !== '') {
            <img [src]="imagePreview" alt="Vista previa" style="width: 100%; height: 100%; object-fit: cover;"/>
          } @else {
            <div style="display: flex; flex-direction: column; align-items: center">
              <mat-icon>image</mat-icon>
              <span>Sin imagen</span>
            </div>
          }
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close [disabled]="creating">Cancelar</button>
    <button matButton="filled" [disabled]="creating" (click)="onCreateDish()">
      <mat-icon>save</mat-icon>
      <span>Crear</span>
    </button>
    @if (creating) {
      <mat-progress-spinner diameter="24" mode="indeterminate"></mat-progress-spinner>
    }
  </mat-dialog-actions>
</div>

