<div style="width: min(500px, 90vw);">
  <h2 mat-dialog-title>Nuevo usuario y sede</h2>
  <mat-dialog-content>
    <mat-tab-group mat-stretch-tabs="false">
      <mat-tab label="Usuario">
        <div class="tab-content">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin: 10px">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="data.createBranchUser.user.email"/>
          </mat-form-field>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin: 10px">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput [(ngModel)]="data.createBranchUser.user.username"/>
          </mat-form-field>
          <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin: 10px">
            <mat-label>Contraseña</mat-label>
            <input matInput [(ngModel)]="data.createBranchUser.user.password">
          </mat-form-field>
        </div>
      </mat-tab>
      <mat-tab label="Sede">
        <div class="tab-content">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" style="margin: 10px">
            <mat-label>Dirección de la sede</mat-label>
            <input matInput [(ngModel)]="data.createBranchUser.branch.address"/>
          </mat-form-field>
          @if (data.branches.length > 0) {
            <mat-slide-toggle [(ngModel)]="inheritBranch" style="margin: 10px" (change)="onInheritChange()">
              ¿Desea heredar configuración de otra sede?
            </mat-slide-toggle>
            @if (inheritBranch) {
              <div style="margin: 10px; grid-column: 1 / -1;">
                <mat-form-field appearance="outline" subscriptSizing="dynamic" style="width: 100%;">
                  <mat-label>Sede origen</mat-label>
                  <mat-select [(ngModel)]="selectedBranch">
                    @if (selectedBranch.id) {
                      <mat-select-trigger>
                        {{ selectedBranch.address }}
                      </mat-select-trigger>
                    }
                    @for (b of data.branches; track b.id) {
                      <mat-option [value]="b">
                        {{ b.address }}:<br>Platos: {{ b.branchDishes.length }} | Extras: {{ b.extraBranches.length }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                @if (selectedBranch.id) {
                  <div style="display: flex; flex-direction: column; gap: 5px; margin-top: 10px;">
                    <span><strong>Resumen de configuración:</strong></span>
                    <span>Platos personalizados:  {{ selectedBranch.branchDishes.length }}</span>
                    <span>Extras activos: {{ selectedBranch.extraBranches.length }}</span>
                  </div>
                }
              </div>
            }
          }
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close [disabled]="creating">Cancelar</button>
    <button matButton="filled" [disabled]="creating" (click)="onCreateBranchWithUser()">
      <mat-icon>save</mat-icon>
      <span>Crear</span>
    </button>
    @if (creating) {
      <mat-progress-spinner diameter="24" mode="indeterminate"></mat-progress-spinner>
    }
  </mat-dialog-actions>
</div>

