.menu-categories__scroller {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 10px;
}

.menu-categories__scroller::-webkit-scrollbar {
  display: none;
}

.page-background {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../../../../public/fondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}