<div style="display: flex; flex-direction: column; height: 100%; gap: 16px; margin: 0 10px">
  <div style="margin-top: 10px">
    <mat-button-toggle-group [value]="viewMode" (change)="changeViewMode($event)">
      <mat-button-toggle value="board">
        <mat-icon>view_kanban</mat-icon>
        Tablero
      </mat-button-toggle>
      <mat-button-toggle value="list">
        <mat-icon>view_list</mat-icon>
        Lista
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  @switch (viewMode) {
    @case ('board') {
      <div class="board">
        <div class="column">
          <span style="font-weight: 700;">CREADO</span>
          <div style="display: flex; flex-direction: column; gap: 10px; min-height: 150px; padding: 6px; background: #e9e7eb; border-radius: 8px;">
            @for (o of ordersCreated; track o) {
              <mat-card style="display: flex; flex-direction: column; gap: 8px; padding: 10px">
                <span style="display: flex; gap: 4px; align-items: center;"><mat-icon>table_restaurant</mat-icon> {{ o.tableNumber }}</span>
                <div style="display: flex; flex-direction: column; gap: 8px;">
                  <span>{{ o.description || 'Sin descripción' }}</span>
                  <div style="display: flex; gap: 12px; flex-wrap: wrap;">
                    <span style="display: flex; align-items: center; gap: 8px;"><mat-icon>restaurant</mat-icon> {{ o.itemsSize }} items</span>
                    <span style="display: flex; align-items: center; gap: 8px;"><mat-icon>event</mat-icon> {{ o.createdAt | date:'short' }}</span>
                  </div>
                </div>
                <div style="display: flex; justify-content: flex-end;">
                  <button mat-icon-button matTooltip="Ver detalle" (click)="onViewOrder(o)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                </div>
              </mat-card>
            }
          </div>
          <div style="text-align: center;">
            <small>Cambia a COCINANDO cuando comiencen a armarla</small>
          </div>
        </div>
        <div class="column">
          <span style="font-weight: 700;">COCINANDO</span>
          <div style="display: flex; flex-direction: column; gap: 10px; min-height: 150px; padding: 6px; background: #e9e7eb; border-radius: 8px;">
            @for (o of ordersCooking; track o) {
              <mat-card style="display: flex; flex-direction: column; gap: 8px; padding: 10px">
                <span style="display: flex; gap: 4px; align-items: center;"><mat-icon>table_restaurant</mat-icon> {{ o.tableNumber }}</span>
                <div style="display: flex; flex-direction: column; gap: 8px;">
                  <span>{{ o.description || 'Sin descripción' }}</span>
                  <div style="display: flex; gap: 12px; flex-wrap: wrap;">
                    <span style="display: flex; align-items: center; gap: 8px;"><mat-icon>restaurant</mat-icon> {{ o.itemsSize }} items</span>
                    <span style="display: flex; align-items: center; gap: 8px;"><mat-icon>event</mat-icon> {{ o.createdAt | date:'short' }}</span>
                  </div>
                </div>
                <div style="display: flex; justify-content: flex-end;">
                  <button mat-icon-button matTooltip="Ver detalle" (click)="onViewOrder(o)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                </div>
              </mat-card>
            }
          </div>
          <div style="text-align: center;">
            <small>Cambia a LISTO cuando esté terminado</small>
          </div>
        </div>
        <div class="column">
          <span style="font-weight: 700;">LISTO</span>
          <div style="display: flex; flex-direction: column; gap: 10px; min-height: 150px; padding: 6px; background: #e9e7eb; border-radius: 8px;">
            @for (o of ordersReady; track o) {
              <mat-card style="display: flex; flex-direction: column; gap: 8px; padding: 10px">
                <span style="display: flex; gap: 4px; align-items: center;"><mat-icon>table_restaurant</mat-icon> {{ o.tableNumber }}</span>
                <div style="display: flex; flex-direction: column; gap: 8px;">
                  <span>{{ o.description || 'Sin descripción' }}</span>
                  <div style="display: flex; gap: 12px; flex-wrap: wrap;">
                    <span style="display: flex; align-items: center; gap: 8px;"><mat-icon>restaurant</mat-icon> {{ o.itemsSize }} items</span>
                    <span style="display: flex; align-items: center; gap: 8px;"><mat-icon>event</mat-icon> {{ o.createdAt | date:'short' }}</span>
                  </div>
                </div>
                <div style="display: flex; justify-content: flex-end;">
                  <button mat-icon-button matTooltip="Ver detalle" (click)="onViewOrder(o)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                </div>
              </mat-card>
            }
          </div>
          <div style="text-align: center;">
            <small>Entregar al cliente</small>
          </div>
        </div>
      </div>
    } @case ('list') {
      <div style="display: flex; flex-direction: column; gap: 16px;">
        @for (o of orders; track o) {
          <mat-card style="align-items: center; padding: 8px; display: flex; flex-direction: row; justify-content: space-between;">
            <div style="display: flex; flex-direction: column; gap: 8px;">
              <div style="display: flex; gap: 8px; font-weight: 700;">
                <mat-chip>{{ o.status }}</mat-chip>
                <span style="display: flex; gap: 4px; align-items: center;"><mat-icon>table_restaurant</mat-icon> Mesa {{ o.tableNumber }}</span>
              </div>
              <span>{{ o.description || 'Sin descripción' }}</span>
              <div style="display: flex; gap: 12px; flex-wrap: wrap;">
                <span style="display: flex; align-items: center; gap: 8px;"><mat-icon>restaurant</mat-icon> {{ o.itemsSize }} items</span>
                <span style="display: flex; align-items: center; gap: 8px;"><mat-icon>event</mat-icon> {{ o.createdAt | date:'short' }}</span>
              </div>
            </div>
            <div>
              <button matButton="filled">
                <mat-icon>visibility</mat-icon> Ver
              </button>
            </div>
          </mat-card>
        }
      </div>
    }
  }
</div>
