<div style="display: flex; flex-direction: column; height: 100%;">
  <mat-sidenav-container style="height: 100%;">
    <mat-sidenav-content>
      <div style="margin: 10px">
        <mat-card>
          <div style="display: flex; margin: 8px 16px;">
            <div style="display: flex; align-items: center; gap: 8px; font-weight: 600;">
              <mat-icon>restaurant</mat-icon>
              <span>Gestión de extras</span>
            </div>
            <span style="flex: 1"></span>
            <button matButton="filled" (click)="openCreateDialog()">
              <mat-icon>add</mat-icon>
              <span>Nuevo extra</span>
            </button>
          </div>
          @if (dataLoaded) {
            <div style="margin: 8px 16px;">
              <table mat-table [dataSource]="extras">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef style="font-weight: 600; background: #f5f5f5;"> Nombre </th>
                  <td mat-cell *matCellDef="let e">
                    <div style="font-weight: 500;">{{ e.name }}</div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef style="text-align: right; font-weight: 600; background: #f5f5f5;"> Acciones </th>
                  <td mat-cell *matCellDef="let e" style="text-align: right;">
                    <button mat-icon-button color="primary" matTooltip="Editar" (click)="$event.stopPropagation(); openEditDrawer(editDrawer, e)">
                      <mat-icon>edit</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns" style="cursor: pointer" (click)="manageExtra(row)"></tr>
              </table>
            </div>
          } @else {
            <div style="display: flex; justify-content: center; margin: 10px 0">
              <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
            </div>
          }
        </mat-card>
      </div>
    </mat-sidenav-content>
    <mat-sidenav #editDrawer position="end" style="padding: 8px 12px 0">
      <div style="display: flex; justify-content: space-between; padding: 5px">
        <div style="display: flex; align-items: center; gap: 8px; font-weight: 600;">
          <mat-icon>edit</mat-icon>
          <span>Editar extra</span>
        </div>
        <button mat-icon-button (click)="editDrawer.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div style="display: flex; flex-direction: column; gap: 16px">
        <mat-card style="padding: 10px">
          <mat-card-title>Información de extra</mat-card-title>
          <mat-card-subtitle>Puedes actualizar nombre</mat-card-subtitle>
          <mat-divider></mat-divider>
          <div style="display: flex; flex-direction: column; gap: 16px; margin-top: 15px;">
            <mat-form-field appearance="outline" subscriptSizing="dynamic">
              <mat-label>Nombre</mat-label>
              <input matInput [(ngModel)]="extraToEdit.name" />
            </mat-form-field>

            <div style="display: flex; align-items: center; gap: 16px">
              <button matButton="filled" [disabled]="savingExtra" (click)="onUpdateExtra(editDrawer)">
                <mat-icon>save</mat-icon>
                <span>Guardar cambios</span>
              </button>
              @if (savingExtra) {
                <mat-progress-spinner diameter="24" mode="indeterminate"></mat-progress-spinner>
              }
            </div>
          </div>
        </mat-card>

        <mat-card style="padding: 10px">
          <mat-card-title>Detalles</mat-card-title>
          <mat-divider></mat-divider>
          <mat-list>
            <mat-list-item>
              <mat-icon matListItemIcon>tag</mat-icon>
              <div matListItemTitle>ID</div>
              <div matListItemLine>{{ extraToEdit.id }}</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListItemIcon>store</mat-icon>
              <div matListItemTitle>Restaurante</div>
              <div matListItemLine>{{ extraToEdit.restaurant.name }}</div>
            </mat-list-item>
          </mat-list>
        </mat-card>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
